  </article>
  <footer>
    <p>Last updated by <%= page.creator_login %> on <%= page.created_at.toISOString() %>. <a href="<%= page.source_url %>"><%= page.comments_count %> comments</a>.</p>
  </footer>
</body>
</html>
